/* Banner */

.banner {
    background: #39b54a url('../img/banner.jpg') no-repeat center top / cover;
    position: relative;
    color: #fff;
}

.banner::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(135deg, #53b14b 0%,#007cc3 100%); */
    /* background: linear-gradient(135deg, #0081ff 0%,#39b54a 100%); */
    background: linear-gradient(135deg, #005aa8 0%,#4fb549 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.9;
}

/* .banner::before{

} */

.banner > div {
    position: relative;
    z-index: 2;
}

.banner .row {
    height: 100vh;
    text-align: center;
    align-items: center;
}

.banner h1 {
    font-size: 40px;
}

.banner p {
    font-size: 20px;
}

.banner br {
    display: none;
}

@media(min-width: 760px) {
    .banner h1 {
        font-size: 40px;
    }
    
    .banner p {
        font-size: 20px;
    }

    .banner br {
        display: block;
    }
}