/* Button */

.button {
    display: inline-block;
    padding: 15px 25px;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;

    /*
    padding (4 declarações): top right left bottom;
    padding (3 declarações): top (right/left) bottom;
    padding (4 declarações): top/bottom right/left;
    */
}

.button-primary {
    background-color: #005aa8;
    transition: background-color 0.2s;
}

.button-primary:hover {
    background-color: #006ead;
}

.button-secondary {
    background-color: #4fb549;
    transition: background-color 0.2s;
}

.button-secondary:hover {
    background-color: #4c9c44;
}

.button-outline-primary,
.button-outline-secondary {
    background-color: transparent;
    border-style: solid;
    border-color: #fff;
    border-width: 2px;
    color: #fff;
    transition: border-color 0.2s, color 0.2s;
}

.button-outline-primary:hover {
    border-color: #005aa8;
    color: #005aa8;
}

.button-outline-secondary:hover {
    border-color: #4fb549;
    color: #4fb549;
}

.button-relief-primary {
    background-color: #005aa8;
    box-shadow: 0 7px #025196;
    transition: all 0.2s;
}

.button-relief-primary:active {
    box-shadow: 0 2px #024580;
    transform: translateY(5px);
}

.button-relief-secondary {
    background-color: #4fb549;
    box-shadow: 0 7px #4aac45;
    transition: all 0.2s;
}

.button-relief-secondary:active {
    box-shadow: 0 2px #48a743;
    transform: translateY(5px);
}