/* Card */

.card {
    padding: 20px 15px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: #dddddd;
    text-align: center;
}

.card > .card-logo {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    /* margin: 28px auto 0; */
    border: 5px solid #fff;
    border-radius: 50%;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60% auto;
}

.card .logo-dbc-sustain {
    background-image: url('../img/DBC_Sustain.png')
}

.card .logo-dbc-software-builder {
    background-image: url('../img/DBC_Software-Builder.png')
}

.card .logo-dbc-smartsourcing {
    background-image: url('../img/DBC_Smartsourcing.png')
}

.card .logo-dbc-agil {
    background-image: url('../img/DBC_Agil.png')
}

/* .card > .card-logo img {
} */