/* Contato */

.map-wrapper {
    height: 500px;
    margin: 15px -15px 29px;
}

@media (min-width: 720px) {
    .map-wrapper {
        width: 50vw;
        height: auto;
        position: absolute;
        top: 100px;
        right: 0;
        bottom: 254px;
        z-index: 1;
    }
}

.map {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
}