/* Footer */

.footer {
    width: 100%;
    text-align: center;
    padding: 20px 15px;
    background: #efefef;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    box-sizing: border-box;
}

.footer nav li {
    display: inline-block;
}

.footer,
.footer a {
    color: #333;
    text-decoration: underline transparent;
    text-underline-offset: 5px;
    transition: text-decoration-color 0.2s;;
}

.footer a {
    font-size: 12px;
    padding: 10px 4px;
    line-height: 18px;
}

@media (min-width: 720px) {
    .footer a {
        font-size: 12px;
        padding: 10px 20px;
    }
}

.footer a:hover {
    text-decoration-color: #333;
}

.footer .breadcrump {
    margin-top: 75px;
    margin-bottom: 75px;
}