/* Form */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.form {
    padding: 15px;
}

.form input,
.form textarea {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 13px;
    display: block;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 4px;
    transition: all 0.2s;
    box-sizing: border-box;
}

.form input:focus, 
.form textarea:focus{
    outline: none;
    border: 1px solid #4fb549;
}

.form textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 100px;
}

.form button {
    cursor: pointer;
    float: right;
}

.form::after {
    content: '';
    display: block;
    clear: both;
    width: 100%;
}