/* General */
body{
    width: 100%;
    min-height: 100vh;
    padding-bottom: 300px;
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

h2 + p + button {
    float: right;
}

h2 + p + button::after {
    content: '';
    display: block;
    width: 100%;
    clear: both;
}

.header + section:not(.banner) {
    padding-top: 100px;
}

.hide {
    display: none;
}

@media (max-width: 720px) {
    .hide-on-mobile {
        display: none;
    }
}

@media (min-width: 720px) and (max-width: 1023px) {
    .hide-on-md {
        display: none;
    }
}
@media (min-width: 1024px) {
    .hide-on-desktop {
        display: none;
    }
}