/* Header */

.header {
    width: 100%;
    padding: 15px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    box-sizing: border-box;
    font-size: 13px;
}

.header::after {
    content: '';
    display: block;
    clear: both;
    width: 100%;
}

.header img {
    width: 150px;
}

.header nav {
    transform: translate(100%, 0);
    transition: transform 0.6s ease-in-out 0s;
}

@media (max-width: 979px) {
    .header nav {
        width: 200px;
        position: fixed;
        top: 100px;
        right: 15px;
        border-radius: 8px;
        background: #fff;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    }
}

#input-open-menu:checked + nav {
    transform: translate(0, 0);
}

@media (min-width: 980px) {
    .header nav {
        display: block;
        float: right;
        transform: translate(0,0);
    }
}

.header .logo {
    display: inline-block;
}

.header li a,
.header li {
    display: block;
}

.header li a {
    color: #005aa8;
    padding: 20px;
    transition: color 300ms;
}

.header li a:hover {
    color: #39b54a;
}

@media (min-width: 980px) {
    .header li a,
    .header li {
        display: inline-block;
    }
}

.button-mobile-menu {
    display: block;
    width: 45px;
    height: 45px;
    /* border: 1px solid #bbb; */
    /* border-radius: 8px; */
    position: absolute;
    top: 20px;
    right: 15px;
    z-index: 1;
    cursor: pointer;
    background: url('../img/menu.svg') no-repeat center / 60%;
}

@media (min-width: 980px) {
    .button-mobile-menu {
        display: none;
    }
}