/* Reset */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body,
ul {
    margin: 0;
}

body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #666;
}

ul {
    padding: 0;
    list-style: none;
}